@model Chunya5.Models.Bonds

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bonds</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BondsCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BondsCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BondsName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BondsName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Market)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Market)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddMan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddMan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifyMan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifyMan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Term)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Term)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Frequency)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
