@model PageList<Bonds>

@{
    ViewData["Title"] = "Index";
}

<h1>债券信息维护及查询</h1>

<div style="display:flex;justify-content:space-between">
    <div style="display:flex; ">
        <form asp-action="index" asp-route-page=1>
            <div class="input-group mb-3" style="width:500px">
                <input type="text" class="form-control" placeholder="请输入债券编码查询" value=@ViewBag.BondsCode name="bondsCode">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" class="form-control" placeholder="请输入债券名称查询" value=@ViewBag.BondsName name="bondsName">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">搜索</button>
                </div>

            </div>
        </form>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="input-group-append">
            <a class="btn btn-outline-secondary"
               asp-action="index"
               asp-route-page=1 type="button">
                恢复
            </a>
        </div>

    </div>
    <p style="margin-right:60px">
        <a asp-action="Create" class="btn btn-primary">添加债券</a>
    </p>
</div>


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].BondsCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].BondsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Market)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].ParValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Rate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].EndDate)
            </th>


            <th>
                @Html.DisplayNameFor(model => model[0].Term)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Frequency)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BondsCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BondsName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Market)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParValue)￥
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)%
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Term)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Frequency)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-info " asp-route-id="@item.Id" style="background-color:rgb(45,140,240);color:#fff;">编辑</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<nav style="float:right;">
    <ul class="pagination">
        @if (Model.HasPrevious)
        {
            <li class="page-item">
                <a class="page-link"
               asp-action="index"
               asp-route-page=@(Model.CurrentPage-1)
               asp-route-bondsCode=@ViewBag.bondsCode
               asp-route-bondsName=@ViewBag.bondsName aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        @for (var i = 0; i < Model.TotalPages; i++)
        {
            <li class="page-item">
                <a class="page-link"
               asp-action="index"
               asp-route-page=@(i+1)
               asp-route-bondsCode=@ViewBag.bondsCode
               asp-route-bondsName=@ViewBag.bondsName>@(i+1)</a>
            </li>
        }
        @if (Model.HasNext)
        {
            <li class="page-item">
                <a class="page-link"
               asp-action="index"
               asp-route-page=@(Model.CurrentPage+1)
               asp-route-bondsCode=@ViewBag.bondsCode
               asp-route-bondsName=@ViewBag.bondsName aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
    </ul>
</nav>
