@model Chunya5.Models.Position

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Position</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddMan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddMan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifyMan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifyMan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleteete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleteete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BondsCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BondsCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TradeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TradeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterestCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterestCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccInterest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccInterest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccUninterestImcome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccUninterestImcome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RealizedInterestIncome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealizedInterestIncome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalInterestIncome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalInterestIncome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TradingProloss)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TradingProloss)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FloatingPl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FloatingPl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DenominattonHeld)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DenominattonHeld)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
