@model PageList<Positions>
@*@{
    ViewData["Title"] = "Index";
    }*@

<h1>资产持仓信息查询</h1>

@*<p>
    <a asp-action="Create">Create New</a>
    </p>*@

<div style="display:flex; ">
    <form asp-action="index" asp-route-page=1>
        <div class="input-group mb-3" style="width:500px">
            <input type="text" class="form-control" placeholder="请输入账户" name="account" id="tradeAccount">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="date" class="form-control" placeholder="请输入时间"  name="tradeDate" id="tradeDate">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="input-group-append">
                <button class="btn btn-outline-secondary"  type="submit">搜索</button>
            </div>

        </div>
    </form>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].BondsCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].TradeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].NetCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].InterestCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].AccInterest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].AccUninterestImcome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].RealizedInterestIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].TotalInterestIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].TradingProloss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].FloatingPl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].DenominattonHeld)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Account)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BondsCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TradeDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NetCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InterestCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccInterest)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccUninterestImcome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RealizedInterestIncome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalInterestIncome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TradingProloss)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FloatingPl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DenominattonHeld)
                </td>
               @* <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>
<nav style="float:right;">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link"
               asp-action="index"
               asp-route-page=@(Model.CurrentPage-1)
               asp-route-account=@ViewBag.account
               asp-route-date=@ViewBag.date aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (var i = 0; i < Model.TotalPages; i++)
        {
            <li class="page-item">
                <a class="page-link"
               asp-action="index"
               asp-route-page=@(i+1)
               asp-route-account=@ViewBag.account
               asp-route-date=@ViewBag.date>@(i+1)</a>
            </li>
        }
        <li class="page-item">
            <a class="page-link"
               asp-action="index"
               asp-route-page=@(Model.CurrentPage+1)
               asp-route-account=@ViewBag.account
               asp-route-date=@ViewBag.date aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>