@model PageList<Chunya5.Models.Trade>

@{
    ViewData["Title"] = "Index";
}

<h1>交易记录的查询与维护</h1>


<div style="display:flex;justify-content:space-between">
    <form asp-action="index" asp-route-page=1>
        <div class="input-group mb-3" style="width:500px">
            <input type="Date" class="form-control" placeholder="请输入交易时间" name="tradeDate">&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" class="form-control" placeholder="请输入交易账户" name="tradeAccount">&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" style="border-radius:0 2px 2px 0" type="submit">搜索</button>
            </div>
        </div>
    </form>
    <p style="margin-right:83px">
        <a asp-action="Create" class="btn btn-primary">添加交易记录</a>
    </p>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].BondsCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].TradeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Direction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Deno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].NetPrace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Accrued)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BondsCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetPrace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accrued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-info"  asp-route-id="@item.Id"  style="background-color:rgb(45,140,240);color:#fff;">编辑</a> 
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
<nav style="float:right;">
    <ul class="pagination">
        @if (Model.HasPrevious)
        {
            <li class="page-item">
            <a class="page-link"
               asp-action="index"
               asp-route-page=@(Model.CurrentPage-1)
               asp-route-tradeAccount=@ViewBag.tradeAccount
               asp-route-tradeDate=@ViewBag.tradeDate aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        }
        @for (var i = 0; i < Model.TotalPages; i++)
        {
            <li class="page-item">
                <a class="page-link"
               asp-action="index"
               asp-route-page=@(i+1)
               asp-route-tradeAccount=@ViewBag.tradeAccount
               asp-route-tradeDate=@ViewBag.tradeDate>@(i+1)</a>
            </li>
        }
        @if (Model.HasNext)
        {
            <li class="page-item">
            <a class="page-link"
               
               asp-action="index"
               asp-route-page=@(Model.CurrentPage+1)
               asp-route-tradeAccount=@ViewBag.tradeAccount
               asp-route-tradeDate=@ViewBag.tradeDate aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        }
    </ul>
</nav>